.header {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
    justify-content:center;
    flex-shrink: 0;
    position: absolute;
    left: 62px;
    top: 34px;
  }
  .delivery1 {
    color: #000000;
    text-align: left;
    font: 700 40px "DM Sans", sans-serif;
  }
  .kolomyia1 {
    color: #ffffff;
    text-align: left;
    font: 700 36px "DM Sans", sans-serif;
  }