.ProfileIcon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1727px;
    top: 33px;
  }
  .user-interface-user2 {
    flex-shrink: 0;
    position: absolute;
    left: calc(50% - 14.5px);
    top: calc(50% - 15.5px);
    overflow: visible;
  }

  .UserBackground{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%,
      rgba(255, 255, 255, 0.5) 100%
    );
    border-radius: 30px;
    flex-shrink: 0;
    width: 140px;
    height: 55px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }