.authorization{
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%,
        rgba(255, 255, 255, 0.5) 100%
      );
      border-radius: 30px;
      width: 979px;
      height: 569px;
      position: absolute;
      left: calc(50% - 489.5px);
      top: calc(50% - 284.5px);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      z-index: -1;
}

.rectangleFirst{
    background: #ffffff;
    border-radius: 30px;
    width: 476px;
    height: 45px;
    position: relative;
    left: 251px;
    top: 29px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.rectangleLast{
    background: #ffffff;
    border-radius: 30px;
    width: 476px;
    height: 45px;
    position: absolute;
    left: 251px;
    top: 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.rectangleEmail{
    background: #ffffff;
    border-radius: 30px;
    width: 476px;
    height: 45px;
    position: absolute;
    left: 251px;
    top: 172px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.rectanglePassword{
    background: #ffffff;
    border-radius: 30px;
    width: 476px;
    height: 45px;
    position: absolute;
    left: 251px;
    top: 243px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.rectanglePassword2{
    background: #ffffff;
    border-radius: 30px;
    width: 476px;
    height: 45px;
    position: absolute;
    left: 251px;
    top: 325px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Re-EnterYourPassword{
    color: #797575;
    text-align: left;
    font: 400 24px "DM Sans", sans-serif;
    position: absolute;
    border-radius: 30px;
    left: 0px;
    top: 0px;
    width: 426px;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
}

.continue1{
    color: #000000;
    text-align: center;
    font: 700 32px "DM Sans", sans-serif;
    position: relative;
    background: #ffffff;
    border-radius: 30px;
    width: 220px;
    height: 52px;
    left: 379px;
    top: 370px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.passwords-must-be-at-least-6-characters{
    color: #797575;
  text-align: left;
  font: 400 16px "DM Sans", sans-serif;
  position: relative;
  left: 277px;
  top: 244px;
}
.frame-21 {
    width: 478px;
    height: 55px;
    position: relative;
    left: 250px;
    top: 380px;
  }
  .rectangle-22 {
    background: rgba(121, 117, 117, 0.29);
    width: 130px;
    height: 4px;
    position: absolute;
    left: 0px;
    top: 11px;
  }
  .rectangle-23 {
    background: rgba(121, 117, 117, 0.29);
    width: 128px;
    height: 4px;
    position: absolute;
    left: 350px;
    top: 11px;
  }
  .already-have-an-account {
    color: #797575;
    text-align: left;
    font: 400 16px "DM Sans", sans-serif;
    position: absolute;
    left: 145px;
    top: 0px;
  }
  .group-63 {
    width: 89px;
    height: 24px;
    position: absolute;
    left: 195px;
    top: 31px;
  }
  .rectangle-20 {
    background: #ffffff;
    border-radius: 30px;
    width: 89px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .sing-in {
    color: #000000;
    text-align: left;
    font: 700 16px "DM Sans", sans-serif;
    position: absolute;
    left: 18px;
    top: 2px;
    width: 53px;
    height: 20px;
  }
